@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');



/* font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px var(--green-bg);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: var(--green-bg);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--green-bg);
}

:root {
    --green-bg: #ffb952;
    --white-bg: #fff;
    --text-main: #444444;
    --text-gray: rgb(119, 119, 119);
    --gray-bg: #f6f6f7;
    --text-white: #fff;
    --black: #000;
    --swiper-theme-color: #009971;
}

body {
    position: relative;
}

.swiper-pagination-bullet {

    background: var(--green-bg) !important;

}


.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("img/hero-bg.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: var(--text-white);
}


.nav-container {
    background: transparent;
}

.header .navbar-brand {
    color: var(--text-white);
    background: var(--green-bg);
    margin-left: -0rem;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}




.header_nav .nav-item {
    margin-right: 20px;
}

.header_nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--text-white);
    font-weight: 600;
}

.nav-link.active {
    color: var(--green-bg) !important;
}

.header_nav .scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    animation: arseel ease-in-out 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3),
        0 0 -5px rgba(0, 0, 0, 0.3);
}

.header_nav .scroll .nav-item .nav-link {
    color: var(--text-main);
}

@keyframes arseel {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0%;
    }
}

.header_nav .button_main {
    background: var(--green-bg);
    border-radius: 19px;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.btn-primary:focus {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.main_text {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_text h1 {
    font-weight: 700;
    font-size: 3.1rem;
}

.main_text p {
    font-weight: 400;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.main_text .btn_transperent {
    border-radius: 19px;
    background: transparent;
    border: 2px solid #fff;
    transition: 0.5s;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--green-bg) !important;
    border-color: var(--green-bg) !important;
}

.partner_logo,
.partner {
    background: var(--gray-bg);

}

.partner {
    padding: 20px 0px;
}

.partner_logo img {
    height: 20px;
    filter: grayscale(100);
    transition: all 0.5s ease-in-out;
}

.partner_logo img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.row .about_text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-main);
}

.row .about_text p {
    font-size: 1.6rem;
    color: var(--text-main);
    font-weight: 500;
    padding-top: 20px;
}

.about_info span {
    font-size: 1.1em;
}

.about_info p {
    font-size: 1em;
}

.about_info p i {
    font-size: 1.3em;
    color: var(--green-bg);
}

.counter {
    background: var(--green-bg);
}

.counter span {
    color: var(--text-white);
    font-size: 2em;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
}

.counter p {
    color: var(--text-white);
    font-weight: 600;
}


.web-intro {
    background: var(--green-bg);
    color: var(--text-white);
    border-radius: 8px;
}

.web-intro h1 {
    font-size: 2.4em;
    font-weight: 700;
}

.web-intro p {
    font-size: 1.2rem;
}

.about-con-down {
    display: flex;
    justify-content: space-between;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-row .col-lg-3 {
    width: 35%;
}

.about-row .col-lg-2 {
    width: 21.66%;
}

.card {
    border: none !important;
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.card-1 i {
    font-size: 2.5rem;
    color: var(--green-bg);
}

.card-1 p {
    font-weight: 800;
    margin-top: 15px;
}

.card-1 span {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--text-gray);
}

.fixed {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url(img/cta-bg.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 65px 0px;


}

.fixed .fixed-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixed .fixed-con h1 {
    color: var(--text-white);
    font-size: 1.5rem;
    font-weight: 600;
}

.fixed .fixed-con p {
    color: var(--text-white);
    font-size: 1rem;
}

.call {
    border: none;
    padding: 10px 20px;
    border-radius: 22px;
    background: transparent;
    color: var(--text-white);
    font-weight: 500;
    transition: all 0.5s ease;
    border: 2px solid var(--text-white);

}

.call:hover {
    background: var(--green-bg);
    color: var(--text-white);
    border: 2px solid var(--green-bg);
}

.title-text h1 {
    color: var(--text-main);
    font-weight: 600;
    font-size: 2.1rem;
}

.services {
    background: var(--gray-bg);
}

.title-text p {
    border: 2px solid var(--green-bg);
    width: 70px;
}

.title-text span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-main);
}

.services .services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.services .services-card i {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--green-bg);
    font-size: 1.5rem;
    color: var(--green-bg);
    transition: all 0.3s ease-in-out;
}

.services .services-card h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.services .services-card p {
    font-size: 0.9rem;
    width: 99%;
}

.services .services-card:hover h2 {
    color: var(--green-bg);
}

.services .services-card:hover i {
    background: var(--green-bg);
    color: var(--text-white);
}


.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.fill button {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-main);
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: var(--green-bg);

}

.btn-default:active .filter-button:active {
    background-color: var(--green-bg);
    color: white;
}

.btn:focus {
    box-shadow: none !important;
}

.gallery_product {
    margin-bottom: 30px;
}

.testimonial {
    background: var(--gray-bg);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 30px 10px;
    border-radius: 11px;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    /* top: 95%; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-pagination-bullet {
    border: 1px solid var(--green-bg);

}

.crousal-text img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.crousal-text p {
    font-size: 1rem;
    color: var(--text-main);
    font-style: italic;
}

.crousal-text p i {
    font-size: 1.3rem;
    color: var(--green-bg);
}

.crousal-text h3 {
    font-size: 1.3rem;
    color: var(--text-main);
    font-weight: 700;
}

.crousal-text span {
    font-size: 0.9rem;
    color: var(--text-gray);
    font-weight: 500;
}

.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-card img {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transform: scale(0.9);

}

.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.p {
    border: 1px solid var(--text-gray);
    width: 70px;

}

.team-social i {
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--text-gray);
    border-radius: 50%;
    font-size: 1rem;
    color: var(--text-white);
    transition: all 0.2s ease-in-out;
}

.team-social i:hover {
    background: var(--green-bg);
    color: var(--text-main);
}

.location i {
    font-size: 1.3rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--green-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
}

.contact-text h6 {
    font-size: 1.2rem;
    color: var(--text-main);
    font-weight: 700;
}

.contact-text span {
    color: var(--text-gray);
    font-weight: 500;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buton .button_main {
    background: var(--green-bg);
    border-radius: 19px;
    border: none !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe !important;
    outline: 0;
    box-shadow: none !important;
}

input {
    border: 1px solid #ced4da;
}

input:focus {
    outline: none;
    border-color: #86b7fe;
}

.footer {
    background: var(--gray-bg);
}

.footer .pera-top {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-main);
}

.footer .span-top {
    color: var(--text-gray);
    font-size: 0.8rem;
}

.footer .pera-bottom {
    font-size: 0.8rem;
    color: var(--text-gray);
    font-weight: 800;
}

.footer .pera-bottom .span-bottom {
    color: var(--text-main);
    opacity: 0.6;
    font-size: 0.9rem;
}

.footer-nav h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-nav ul {
    margin: 0;
    padding: 0px;
}

.footer-nav ul li {
    list-style-type: none;
    padding: 10px 0px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s ease;

}

.footer-nav ul li i {
    color: var(--green-bg);
}

.footer-nav ul li:hover {
    color: var(--green-bg);
}

.btn-primary {
    color: #fff;
    background: var(--green-bg) !important;
    border-color: var(--green-bg) !important;
}

.last-input {
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.last-input input {
    border: none;
    width: 100%;
    border-radius: 8px;
}

.last-input input:focus {
    border-color: transparent;
    outline: none;
}



#scrollToTopBtn {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--green-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

#scrollToTopBtn i {
    color: var(--text-white);
    font-size: 1.6rem;
}

.nav-span {
    position: fixed;
    bottom: 10%;
    right: 2.5%;

}

.nav-span2 {
    position: fixed;
    bottom: 13%;
    right: 2.5%;

}

.nav-span3 {
    position: fixed;
    bottom: 16%;
    right: 2.5%;

}

.nav-span4 {
    position: fixed;
    bottom: 19%;
    right: 2.5%;

}

.preloder {
    height: 100vh;
    width: 100%;
    background: var(--black) url("img/1_e_Loq49BI4WmN7o9ItTADg.gif") no-repeat center center;
    background-size: 140px 100px;
    position: fixed;
    z-index: 50000;
}



/* about css */

.header-2 {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(img/office-95311_960_720.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: var(--text-white);
}

.slider {
    width: 100%;
    height: 100%;
  }

.about-middle {
    background: var(--gray-bg);
}

.about-middle img {
    border-radius: 10px;
}

.about-title-text h6 {
    color: var(--text-main);
    font-weight: 600;
}

.about-title-text span {
    font-size: 2rem;
    color: var(--text-main);
    font-weight: 700;
}

.about-down-2 {
    background: var(--green-bg);
}

.title-text .button-trans {
    background: var(--green-bg) !important;
    color: var(--text-white) !important;
    border: 1px solid var(--text-white) !important;
    transition: all 0.3s ease-in-out;
}

.title-text .button-trans:hover {
    background: var(--text-white) !important;
    color: var(--green-bg) !important;
    border: 1px solid var(--green-bg) !important;
}

/* services css */
.header-3 {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(img/handshake-2009183__340.webp);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: var(--text-white);
}

.our-services {
    background: var(--green-bg);
}

.our-services .our-services-h1 {
    font-size: 1em;
    font-weight: 600px;
    color: var(--text-white0);

}

.our-services .our-services-span {
    font-size: 3em;
    font-weight: 900px;
    color: var(--text-main);
}

.our-services-card {
    background: var(--green-bg);
}

section.pricing {
    background: var(--green-bg);

}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* services css */
.header-4
{
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url(img/cta-bg.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: var(--text-white);
}

/* tem css */
.header-5{
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url(img/photo-team2.avif);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: var(--text-white);
}
.our-project
{
    background: var(--gray-bg);
}
.slider .swiper-slide {
    
    padding: 0px 0px;
    
}
.slider img
{
    height: 250px;
    width: 100%;
}
.our-team
{
    background: var(--green-bg);
}

.swiper {
    width: 100%;
    height: 100%;
}

.team-slider .swiper-slide {   
    padding: 0px 0px;    
}
.team-card-team
{
    /* background: rgba(203, 247, 248, 0.5) !important; */
    background: var(--gray-bg);
}
/* contect-css */

.header-nav-2
{
    background:rgba(0, 0, 0, 0.6) !important;
}
.map-2
{
    height: 350px;
    width: 100%;
}
.map img
{
    width: 100%;
}








